node_modules/
dist/
build/
coverage/

# Env secrets (keep folder structure, ignore values if needed)
env/*.env
env/npm.jfrog.env

*.log
npm-debug.log*
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.tsbuildinfo
.nyc_output/
tmp/
temp/
.azure/
*.pem
*.key
secrets/
.docker/
